<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1010388377208-8r3j7gnq6usd7c6atvr9jcbm6eatmapm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1010388377208-8r3j7gnq6usd7c6atvr9jcbm6eatmapm</string>
	<key>API_KEY</key>
	<string>AIzaSyBqTNwi8Far-aEQPKp7kdpu9FtzLBBR_Jw</string>
	<key>GCM_SENDER_ID</key>
	<string>1010388377208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bba.dare2care</string>
	<key>PROJECT_ID</key>
	<string>care2dare-6d6eb</string>
	<key>STORAGE_BUCKET</key>
	<string>care2dare-6d6eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1010388377208:ios:010bb1f6eecea3cc</string>
	<key>DATABASE_URL</key>
	<string>https://care2dare-6d6eb.firebaseio.com</string>
</dict>
</plist>